 
 
 
 
  .cardKontakt {
    width: 70%;
    padding: 10px 10px 90px 90px; 
    margin: 100px;
    border: 6px solid rgba(0, 0, 0, 0.3);
    box-shadow: 20px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    position: relative;
   
  }
  
  .cardKontakt h2 {
    color: rgba(0, 0, 0, 0.3);
    font-size: 60px;
    text-transform: uppercase;
  }
  
  .cardKontakt .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit,minmax(40%, 1fr));
    grid-gap: 30px;
  }
  
  .cardKontakt .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
  }
  
  .cardKontakt .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
  }
  
  .cardKontakt .row .form-group input,
  .cardKontakt .row .form-group textarea ,
  .cardKontakt .row .form-group select
 {
    position: absolute;
    width: 90%;
    height: 140%;
    background: transparent;
    outline: none;
    font-size: 24px;
    padding: 10px 0 10px 20px;
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    color: #666666;
    border-radius: 50px;
  }
  
  .cardKontakt .row .form-group label {
    line-height: 40px;
     color: #666666;
    font-size: 24px;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
  }
  
  .row .col:nth-child(6) {
    margin-top: 64px;
  }
  
  .cardKontakt .row .form-group input:focus,
  .cardKontakt .row .form-group textarea:focus {
    border: 5px solid #BEE9E8;
    transition: all 0.5s;
  }
  
  .cardKontakt .row input[type="submit"] {
    border: 5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.3);
    padding: 10px;
    height: 100%;
    width: 50%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #666666;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
  }
  
  .cardKontakt .row input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 1);
    color: #ffffff;
    transition: all 0.4s;
  }
  
  @media screen and (max-width: 900px) {
    .cardKontakt .row {
      grid-template-columns: repeat(auto-fit,minmax(70%, 1fr));
    }
    
    .cardKontakt {
      padding: 20px;
    }
    
    .cardKontakt h2 {
      font-size: 34px;
    }
    
    .cardKontakt .row input[type="submit"] {
      width: 100%;
    }
  }