* {
  box-sizing: border-box;
}
body{
    margin: 0;
}
 


/*za navig. meni*/
.navbar{
  display: flex;
  flex-direction: row;
  background-color: #40add8;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(175, 175, 175);
   
  min-height: 60px;
   
  font-size: large;
  color: antiquewhite;
  text-decoration: none; 

}

.navbar-items {
  
  
   
  margin-left: 20px;
  margin-right: 70px;
  text-decoration: none;
  color: antiquewhite;
}


/*za futer*/

.footer {
     
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
 ; background-color: #1B4965;
  
  
}

.footer > div {
  background-color: #1B4965;;
  color: white;
  text-align: center;

  font-size: 15px;
  text-align: center;
}
.footer > .footerItemRight{
  background-color: #40add8;;;
}
.footer ul{
  list-style-type: none;
}
.footer a{
  text-decoration: none;
  color: white;

}
.footer a:hover{
  color:#f2dda4;

}

 




 /*za dugmice na pocetnoj*/
 /*za dugmice za sortiranje*/
.buttons{
  margin-left:15%;
}





/*kartice za proizvode u korpi*/
.proizvodUkorpicard{
  border: solid 2px black;
  border-radius: 5px;
  box-shadow: 5px 10px #888888;
  padding: 10px;
  margin-left: 100px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 25%;
}

.naslovKorpa{
  text-align: center;
}

.ukupno{
  background-color: rgb(40, 236, 40);
  padding: 30px;
  margin-left: 70%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 5%;
  font-size: 30px;
}

.praznaKorpa{
  margin: 8%;
  border: solid 2px black;
  border-radius: 5px;
  box-shadow: 5px 10px #888888;
  padding: 50px;
  text-align: center;
  
}
.btn {
  background-color: rgb(185, 228, 68);
  color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 3px;
  border-radius: 3px;
  border-width: 0px;
}

.btn:hover{
  background-color: #5ebfaa;

}